/*========================================================================================================================
*
*Responsive Style For Large Devices 900 x 1330
*
=========================================================================================================================*/
#main {
	height: 100%;
	width: 100%;
}

/*=================================
Countdown
=================================*/

.r-wrap {
    height: auto;
    width: 100%;
    margin: 0px auto;
}

.countdown li {
    margin: auto;
    float: none;
    display: inline-block;
}

/*=================================
Subscribe
=================================*/

#secform {
    width: 80%;
}

#subtext {
    min-width: 30%;
    width: 50%;
}

/*=================================
Team
=================================*/

#te-wrap {
    height: auto;
    width: 90%;
}

.persons {
    min-height: 200px;
    width: 30%;
}

.light-photo {
    height: 120px;
    width: 120px;
    margin: 0px auto;
    overflow: hidden;
}